body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}
h1 {
  font-size: 50px;
  line-height: 50px;
}
h2 {
  font-size: 40px;
  line-height: 50px;
}
.h2-color {
  color: dodgerblue;
}
.name-highlight {
  color: orange;
}
.half-width {
  width: 40%;
  float: left;
  margin-left: 5%;
  padding-left: 2%;
}
.half-width img {
  width: 100%;
}
.top-banner {
  background-image: url("images/top-banner.png");
  background-repeat: no-repeat;
}
section {
  height: 500px;
  padding-bottom: 70px;
}
.link-button {
  text-decoration: none;
  background-image: linear-gradient(45deg, lightSalmon, tomato);
  padding: 2px 228px;
  border-radius: 30px;
  color: white;
  font-weight: 1000;
  font-size: 20px;
}
.second-button {
  text-decoration: none;
  background-image: linear-gradient(45deg, tomato, orange);
  padding: 2px 176px;
  border-radius: 30px;
  color: white;
  font-weight: 1000;
  font-size: 20px;
}
.profile-img {
  padding-top: 3%;
}
.paragraph {
  text-align: justify;
  color: dimgray;
}
.dream-area {
  padding-bottom: 30px;
  background-image: url("images/dream-bg.png");
  background-repeat: no-repeat;
  background-position: right;
  background-position-y: 290px;
  background-size: 80px;
}
#orange-color {
  color: orange;
}
#experience {
  text-align: center;
  border-radius: 5px;
  color: white;
  font-size: 30px;
  margin-left: 560px;
  margin-right: 560px;
  background-image: linear-gradient(45deg, orange, tomato);
}
.single-experience {
  padding-right: 20px;
  padding-left: 20px;
  box-shadow: 10px 10px 40px gray;
  border-radius: 10px;
  height: 80%;
  background-color: white;
}
.experience-area {
  background-image: url("images/exp-bg.png");
  background-repeat: no-repeat;
  background-position: left;
  padding-bottom: 20px;
}
.exp-para {
  text-align: justify;
}
#html {
  border-left: 7px solid;
  border-image: linear-gradient(180deg, lightSalmon, tomato);
  border-image-slice: 1;
}
#css {
  border-left: 7px solid;
  border-image: linear-gradient(180deg, blue, cyan);
  border-image-slice: 1;
}
#web-html {
  text-align: justify;
}
.faka {
  height: 0px;
  margin: 0;
  padding: 35px;
  background-image: url("images/bottom-banner.png");
  background-repeat: no-repeat;
  background-position-x: 450px;
  background-position-y: -430px;
}
.copyright {
  text-align: center;
  margin: 0;
  padding: 0;
}
